html,body{
	font-size: 16px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'pingfang SC'
}
body{
	/*background:url('images/login_bg.jpg') no-repeat;*/
	background-size: 100% 100%;
}
#index-title{
	 margin: 0;
	 margin-top: 80px;
    text-align: center;
    font: bold 56px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    	-webkit-transition: .2s all linear;
}
.btn{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#username{
	 display: inline-block;
    width: 240px;
    height: 34px;
    box-sizing: border-box;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
#loginbox{
  position:absolute;  
  top:50%;  
  left: 50%;  
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%); 
  margin-top: -54px; 
}
button.btn, input[type="submit"].btn{
	vertical-align: top;
}
#chatbox{
	display: none;
}
#onlinecount{
    height: 40px;
    line-height: 40px;
    background: #ccc;
    padding-left: 16px;
    border-radius: 4px;
}
.chatbox-head{
    height: 70px;
    line-height: 75px;
    background: #000;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}
#chat{
	width:440px;
	margin:0 auto;
}
#message{
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    margin-top: 14px;
    height: 440px;
    overflow-y: scroll;
}
.msg-system{
	height: 40px;
	line-height: 40px;
}
.service{
	height: 40px;
}
.service .user-name{
	float: right;
}
.user-name-title{
    display: inline-block;
    text-indent: -666px;
    display: none;
}
.user,.input-box{
    display: flex;
    display: -webkit-box;
    margin-bottom: 8px;
}
.user .user-img{
	float: left;
}
.service .user-name{
	
}
.service .user-content{
	margin-left: 8px;
    padding-left: 8px;
    padding: 6px 14px 6px 14px;
    color: #000;
    background: rgba(80,240,84,1);
    border-radius: 4px;
    display: inline-block;
    float: right;
    max-width: 370px;
        margin-right: 6px;
}
.user  .user-content{
    margin-left: 8px;
    padding: 6px 14px 6px 14px;
    color: #000;
    background: rgba(80,240,84,1);
    border-radius: 4px;
    display: inline-block;
    /* float: left; */
    max-width: 286px;
    flex: 1;
    word-wrap: break-word;
}
.input-box{
	height: 40px;
    width: 100%;
    margin: 0 auto;
    background: #f1f1f1;
}
#mjr_send{
    border: none;
    vertical-align: middle;
    padding: 6px 15px;
    outline: none;
    background: #fff;
    height: 32px;
    cursor: pointer;
}
#content{
    /* width: 100%; */
    /* padding: 4px; */
    border: none;
    height: 30px;
    margin-left: 5px;
    border-radius: 4px;
    /* vertical-align: middle; */
    width: 246px;
    padding-left: 10px;
    margin-top: 4px;
}